#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.hero-selector {
  display: flex;
  gap: 20px;
}

.hero-selector:before {
  content: "Role & MMR";
  color: var(--text);
  margin-right: 10px;
  margin-bottom: auto;
  margin-top: auto;
}

.dropdown {
  position: relative;
  width: 200px;
  color: var(--text);
  margin-bottom: 10px;
}

.selected-option {
  padding: 10px;
  border: 2px solid;
  border-color: var(--text);
  cursor: pointer;
  border-radius: 10px;
  background-color: var(
    --card-bg
  ); /* Set background color to match the card's background */
  background-clip: padding-box; /* Ensures background doesn't extend under the border */
}

ul.hidden {
  border: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: (--text);
  border-top: none; /* Remove top border */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
  overflow-y: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  position: absolute;
  width: 100%;
  z-index: 10; /* This will ensure the dropdown appears above other elements */
  top: 100%; /* Positioning it right below the .selected-option element */

  background-color: var(--card-bg);
  margin-top: -2px; /* Overlap the ul border over the .selected-option bottom border */
  background-clip: padding-box; /* Ensures background doesn't extend under the border */
}

.dropdown.open ul {
  max-height: 150px; /* height to expand to */
  border-bottom-left-radius: 10px; /* straight bottom-left when opened */
  border-bottom-right-radius: 10px; /* straight bottom-right when opened */
}

.dropdown.open .selected-option {
  border-bottom: 0;
  border-bottom-left-radius: 0; /* straight bottom-left when opened */
  border-bottom-right-radius: 0; /* straight bottom-right when opened */
}

li {
  padding: 10px;
  cursor: pointer;
}

li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li:hover {
  background-color: #e9e9e9;
  color: #ff5500;
}

.dropdown.open ul {
  max-height: 200px;
}

.hero-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.error {
  color: #ff5500;
  text-align: center;
  font-size: 1.5rem;
}


/* Small screens (phones) */
@media (max-width: 600px) {
  .page-header {
    margin-bottom: 10px;
  }
  .title {
    margin: 5px;
  }

  .hero-selector:before {
    content: "Role & MMR";
    color: var(--text);
    min-width: 100px;
  }

  .hero-selector {
    grid-template-columns: 1fr 1fr; /* split into 2 columns */
    gap: 10px;
    align-items: center;
    margin-left: auto;
  }

  .dropdown {
    width: 100%;
    align-self: right;
    max-width: 300px; /* this ensures it doesn't get too wide on landscape phones or larger screens within this media query range */
    min-width: 25vw;
  }

  .heroCard {
    grid-template-columns: 1fr 1fr; /* split into 2 columns */
    text-align: center;
  }

  .heroCard h2 {
    grid-column: 1 / span 2; /* let the hero name take both columns */
    text-align: center;
  }

  .heroCard img {
    margin-left: 0; /* reset margin */
  }

  .heroCard p {
    grid-column: 2; /* position winrate in the second column */
    text-align: right;
    margin-left: 0; /* reset margin */
    margin-right: 10%; /* give some right spacing */
  }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .heroCard {
    grid-template-columns: 30% 1fr 1fr; /* split into 3 columns */
  }

  .heroCard img {
    width: 80px;
    height: 80px;
    margin-left: 0; /* reset margin */
  }

  .heroCard h2 {
    text-align: left;
  }

  .heroCard p {
    grid-column: 3; /* position winrate in the third column */
    text-align: right;
    margin-left: 0; /* reset margin */
  }
}
