body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: auto;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /* background: linear-gradient(to right, #55095b, #70706a); */
    background: linear-gradient(90deg, rgba(24,170,10,1) 0%, rgba(0,0,0,1) 50%, rgba(194,3,3,1) 100%)
  }
  
  .hero-selector {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .hero-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
  }
  
  .heroCard {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background: #f4f4f4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    width: 200px;
  }
  
  .heroCard:hover {
    transform: scale(1.05);
  }
  
  .heroCard h2 {
    margin-bottom: 15px;
  }
  
  .heroCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .heroCard p {
    margin-top: 15px;
  }
  