*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --light-bg: #fafafa;
  --light-text: #333;
  --light-card-bg: #f0f0f0;
  --dark-bg: #222;
  --dark-text: #f0f0f0;
  --dark-card-bg: #333;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--light-bg);
  color: var(--light-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body[data-theme="dark"] {
  background-color: var(--dark-bg);
  --bg: var(--dark-bg);
  --text: var(--dark-text);
  --card-bg: var(--dark-card-bg);
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero-selector {
  display: inline;
  gap: 10px;
}

.hero-selector:before {
  content: 'Role & MMR';
  color: var(--text);
  margin-right: 10px;
}

#mmrSelector {
  margin-left: 10px;
}

.custom-select {
  border: none;
  background-color: var(--card-bg);
  color: var(--text);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.hero-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heroCard {
  display: grid;
  grid-template-columns: 30% auto auto;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid;
  border-color: var(--text);
  background-color: var(--card-bg);
  color: var(--text);
  position: relative;
  transition: all 0.3s ease;
}

.heroCard img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--text);
  object-fit: cover;
}

.heroCard h2 {
  font-size: 20px;
  margin: 10px;
  text-align: justify;
  min-width: max-content;
}

.heroCard p {
  margin-left: 10%;
  font-weight: bold;
  text-align: right;
}

/* Rankings */
.heroCard:before {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.heroCard:nth-child(1):before { content: 'Top 1'; background-color: gold; }
.heroCard:nth-child(2):before { content: 'Top 2'; background-color: silver; }
.heroCard:nth-child(3):before { content: 'Top 3'; background-color: #cd7f32; }

.heroCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#colorThemeToggleButton {
  padding: 10px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#githubLink {
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s;
}

#githubLink:hover {
  color: #ff5500;
}

/* Small screens (phones) */
@media (max-width: 600px) {
  .title {
    margin: 5px;
}

.heroCard {
    grid-template-columns: 1fr 1fr; /* split into 2 columns */
    text-align: center;
}

.heroCard h2 {
    grid-column: 1 / span 2; /* let the hero name take both columns */
    text-align: center;
}

.heroCard img {
    margin-left: 0; /* reset margin */
}

.heroCard p {
    grid-column: 2; /* position winrate in the second column */
    text-align: right;
    margin-left: 0; /* reset margin */
    margin-right: 10%; /* give some right spacing */
}
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .heroCard {
    grid-template-columns: 30% 1fr 1fr; /* split into 3 columns */
}

.heroCard img {
    width: 80px;
    height: 80px;
    margin-left: 0; /* reset margin */
}

.heroCard h2 {
    text-align: left;
}

.heroCard p {
    grid-column: 3; /* position winrate in the third column */
    text-align: right;
    margin-left: 0; /* reset margin */
}
}
